.contactContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../../../public/assets/contact_bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.pageName {
  position: absolute;
  left: 9%;
  padding: 20px;
  color: white;
  font-size: 3rem;
}

.card {
  display: flex;
  width: 80%;
  background-color: #efefef;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
  left: 10%;
  z-index: 2;
  top: -80px;
}

.contactDetails {
  flex: 1;
  padding-left: 10px;
}

.contactFormWrapper {
  position: relative;
  flex: 1;
}

#get_in_touch {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0px;
}

#description {
  font-size: 14px;
}

.send_msg_div {
  display: flex;
  justify-content: center;
}

#send_msg {
  font-size: 20px;
  font-weight: bold;
}

.infoGroup {
  margin-top: 20px;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.infoItem i {
  font-size: 24px;
  color: #007bff;
  margin-right: 10px;
}

.infoItem p {
  font-size: 15px;
}

.hr {
  padding-right: 15px;
}

.hr hr {
  background-color: #a0a0a0;
}

.address,
.email,
.phone {
  border-radius: 50%;
  padding: 20px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.address i {
  color: white;
  margin-right: 0px;
}

.email i {
  color: white;
  margin-right: 0px;
}

.phone i {
  color: white;
  margin-right: 0px;
}

.socialLinks {
  margin-top: 30px;
}

.socialLinks a {
  margin-right: 15px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 12px;
  background-color: #007bff;
}

.contactFormWrapper {
  flex: 1.5;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.contactFormWrapper h2 {
  margin-bottom: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.lastFormRow {
  margin-bottom: 15px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.contactForm textarea {
  resize: none;
}

.contactForm button {
  margin-top: 20px;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contactForm button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contactFormWrapper {
    margin-top: 30px;
  }
}
