.OfferDetailBg {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.slideContentDetail {
  color: white;
  text-align: left;
}

.slideImageDetail {
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

.textOverlayDetail {
  position: absolute;
  top: 250px;
  left: 100px;
  transform: translateY(-50%);
  z-index: -1;
}

.headingDetail {
  font-size: 55px;
  color: #fff;
}

.slider-container {
  padding: 50px;
}

.slick-prev {
  z-index: 1;
  left: 50px !important;
}

.slick-next {
  z-index: 1;
  right: 75px !important;
}

.slick-dots {
  width: 90% !important;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

/* Card Styles */
.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
}

.header {
  background-color: #4062bb;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  text-align: center;
}

.content {
  padding: 20px;
}

/* Special Offer Card */
.special-offer .content {
  text-align: center;
}

.special-offer .content p {
  font-size: 14px;
}

.special-offer .content h3 {
  font-size: 25px;
}

.special-offer .get-price {
  background-color: #fff;
  color: #4062bb;
  border: 1px solid #4062bb;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}

/* Other Offers Card */
.other-offers .content {
  text-align: left;
}

.phone-icon {
  font-size: 50px;
}

.phone-number {
  font-size: 20px !important;
}


.destination {
  font-size: 40px;
  font-weight: 600;
  color: #333;
}

.offer_para {
  font-size: 15px;
  font-weight: 400;
  color: #333;
}