.faqsBg {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../../../public/assets/faqs.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.faqsHeadingDiv {
  display: flex;
  justify-content: center;
  padding: 100px 20px 20px 20px;
}

.faqsHeading {
  font-size: 40px;
  color: #333;
}

.faqsContainer {
  padding: 50px;
}

#faqs_plane_bg {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -320px;
}

.MuiPaper {
  --Paper-shadow: none !important;
}

::before {
  position: relative !important;
}

.MuiButtonBaseActive {
  background-color: #4062bb !important;
  border-radius: 50px !important;
  color: #fff !important;
  padding: 5px 20px !important;
  font-size: 18px;
  margin-bottom: 20px;
}

.MuiButtonBaseInActive {
  border: 1px solid #333;
  border-radius: 50px !important;
  color: #333 !important;
  padding: 5px 20px !important;
  font-size: 18px;
  margin-bottom: 20px;
}

.customExpandIcon {
  background-color: #fff;
  border-radius: 20px;
  padding: 3px;
  color: #4064dd;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .faqsBg {
    height: 30vh;
  }

  .faqsHeadingDiv {
    padding: 20px;
  }

  .faqsHeading {
    font-size: 23px;
  }

  #faqs_plane_bg {
    margin-top: -90px;
  }

  .faqsContainer {
    padding: 10px;
  }

  .MuiButtonBaseActive,
  .MuiButtonBaseInActive {
    font-size: 15px;
  }
}
