.holidayOfferContainer {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.slideContent {
  color: white;
  text-align: left;
}

.slideImage {
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

.textOverlay {
  position: absolute;
  top: 250px;
  left: 100px;
  transform: translateY(-50%);
  z-index: -1;
}

.title {
  font-size: 33px;
  font-weight: bold;
  color: #fff;
}

.description {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  width: 45%;
}

.offerBtn {
  padding: 10px 20px;
  background-color: #4062bb;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.headingHoliday {
  font-size: 55px;
  color: #fff;
}

.filter-container {
  display: flex;
  gap: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  width: 200px;
}

.duration {
  width: 250px;
}

.sort {
  width: 250px;
}

.filter-item label {
  font-size: 12px;
  color: #9b9b9b;
  padding-left: 5px;
}

.filter-item select {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  padding-right: 20px;
  cursor: pointer;
}

.filter-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-button {
  background-color: #4267b2;
  color: white;
  width: 143px;
  border: 1px solid;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.filter-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.customCol {
  padding-left: 40px !important;
  padding-right: 40px !important;
  margin-bottom: 60px;
}

.viewBtn {
  color: #4062bb;
  border: 1px solid #4062bb;
}
.viewBtn:hover {
  color: #4062bb;
  border: 1px solid #4062bb;
}

.viewBtn {
  height: 50px;
  width: 100px;
}

.intro {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../../../public/assets/bg_2.webp");
  background-position: calc(100% + 10px) calc(100% + 10px);
  background-repeat: no-repeat;
}

.intro h2 {
  font-size: 40px;
  color: #333;
  font-weight: 600;
}

.intro p {
  font-size: 15px;
  color: #333;
  padding-left: 90px;
  padding-right: 90px;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 0px 50px;
}

.offer-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.offer-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.offer-card h3 {
  font-size: 20px;
  color: #333;
  font-weight: 500;
}

.offer-card p {
  font-size: 15px;
  color: #333;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
}

.filter-wrapper {
  background-color: #4062bb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}

@media screen and (max-width: 768px) {
  .filter-wrapper {
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }

  .filter-container {
    flex-direction: column;
  }

  .filter-item {
    width: 100%;
  }

  .filter-button {
    width: 100%;
  }

  .intro {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro h2 {
    font-size: 27px;
  }

  .intro p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .customRow {
    flex-direction: column;
  }

  .customCol {
    max-width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
