.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}

.inputDiv {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 5px;
  background-color: white;
}

.inputDiv label {
  padding-left: 12px;
  font-size: 12px;
  color: #9b9b9b;
}

.inputDiv input {
  padding: 0px 0px 5px 10px !important;
  font-size: 14px;
  font-weight: 500;
  color: black;
  background-color: white;
}

.inputDiv input::placeholder {
  color: #9b9b9b;
}

.inputDiv input:focus-within {
  box-shadow: none !important;
}

.inputDiv select {
  padding: 5px;
  border: none;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

#name,
#phone,
#email,
#comments {
  padding: 10px !important;
}

#get-price {
  height: 50px;
  width: 120px;
  background-color: #4062bb;
  color: #fff;
}

#get-price:hover {
  outline: none !important;
}

ul li::marker {
  font-size: 10px;
}

.filtersCard {
  width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 16px 15px 15px;
  border-radius: 13px 38px 13px 38px;
  margin-bottom: 100px;
  margin-top: -50px;
}

.leftHeading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}

/* .responsive-col {
  border-right: 5px dashed gray;
} */

.leftChildCol {
  height: 350px;
  padding-block: 10px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.getPriceDiv {
  display: flex;
  justify-content: right;
  margin-right: 15px;
  margin-top: 15px;
}

.custom-modal .ant-modal-header {
  display: none;
  /* Hide the default header */
}

.custom-modal .ant-modal-close {
  top: 10px;
  /* Adjust position of the close button */
  right: 10px;
}

.modal-content {
  text-align: center;
  padding: 20px;
}

.success-icon {
  font-size: 48px;
  color: #52c41a;
  /* Success green color */
  margin-bottom: 20px;
}

.success-message {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}



/* For small screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  .filtersCard {
    width: 100%;
  }

  .formContainer {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .leftHeading {
    font-size: 14px;
    text-align: center;
  }

  .filterParentRow {
    flex-direction: column;
  }

  .responsive-col {
    flex: 1;
    max-width: 100%;
    border-bottom: 5px dashed gray;
    border-right: none;
  }

  .leftChildRow {
    flex-direction: column;
  }

  .leftChildCol {
    max-width: 100%;
    padding: 0px;
  }

  .inputDiv {
    margin-bottom: 10px;
  }

  .getPriceDiv {
    margin-bottom: 20px;
  }

  #rightCol {
    max-width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .filtersCard {
    width: 100%;
  }

  .formContainer {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .leftHeading {
    font-size: 14px;
    text-align: center;
  }

  .filterParentRow {
    flex-direction: column;
  }

  .responsive-col {
    flex: 1;
    max-width: 100%;
    border-bottom: 5px dashed gray;
    border-right: none;
  }

  .leftChildRow {
    flex-direction: column;
  }

  .leftChildCol {
    max-width: 100%;
    padding: 0px;
  }

  .inputDiv {
    margin-bottom: 10px;
  }

  .getPriceDiv {
    margin-bottom: 20px;
  }

  #rightCol {
    max-width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .filtersCard {
    width: 100%;
  }

  .formContainer {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .leftHeading {
    font-size: 14px;
    text-align: center;
  }

  .filterParentRow {
    flex-direction: column;
  }

  .responsive-col {
    flex: 1;
    max-width: 100%;
    border-bottom: 5px dashed gray;
    border-right: none;
  }

  .leftChildRow {
    flex-direction: column;
  }

  .leftChildCol {
    max-width: 100%;
    padding: 0px;
  }

  .inputDiv {
    margin-bottom: 10px;
  }

  .getPriceDiv {
    margin-bottom: 20px;
  }

  #rightCol {
    max-width: 100%;
  }
}